EXPO_PUBLIC_PROFILE=prod
EXPO_PUBLIC_API_MODE=remote
EXPO_PUBLIC_API_BASE_URL=https://intelligenceforgood.org
EXPO_PUBLIC_AUTH_PROVIDER=google-pkce-iap
EXPO_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=<web-oauth-client-id>.apps.googleusercontent.com
EXPO_PUBLIC_OAUTH_REDIRECT_SCHEME=com.intelligenceforgood.i4g
EXPO_PUBLIC_SENTRY_DSN=<dsn>
